<!DOCTYPE html>
<html lang="en" style="overflow: hidden" ng-app="toDoListApp">

<head>
    <meta charset="UTF-8">
    <title>IAM'ROBOT TODO DASHBOARD</title>
    <!--load client libraries-->
    <link href="/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="/libs/jquery/dist/jquery.js"></script>
    <!--jquery-->
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!--bootstrap-->
    <script src="/libs/angular/angular.js"></script>
    <!--angular-->

    <!-- Bootstrap core CSS -->
    <link href="/assets/js/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="/assets/lineicons/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.css" rel="stylesheet" />
    <link href="/assets/css/to-do.css" rel="stylesheet" />

    <!-- Angular Material style sheet -->
    <link href="/libs/angular-material/angular-material.min.css" rel="stylesheet" />

    <script src="/assets/js/jquery.dcjqaccordion.2.7.js" class="include" type="text/javascript"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.sparkline.js"></script>
    <script src="/assets/js/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <script src="/assets/js/gritter-conf.js" type="text/javascript"></script>


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/libs/angular-animate/angular-animate.min.js"></script>
    <script src="/libs/angular-aria/angular-aria.min.js"></script>
    <script src="/libs/angular-messages/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="/libs/angular-material/angular-material.min.js"></script>

    <!-- load my app -->
    <script src="/index.js"></script>
    <script src="/services/task.services.js"></script>
    <script src="/services/todoSharedService.js"></script>
    <script src="/controllers/TodayTask.controller.js"></script>
    <script src="/controllers/TomorrowTask.controller.js"></script>
    <script src="/controllers/AllTask.controller.js"></script>
    <script src="/controllers/NewTask.controller.js"></script>
    <script src="/controllers/EditTask.controller.js"></script>
    <script src="/controllers/NewCategory.controller.js"></script>
</head>

<body>
    <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT
      *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg navbar-fixed-top">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo"><b>To-Do-List</b></a>
        <!--logo end-->
        <!--// testing //-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <div class="fa fa-plus fa-2x"></div>
                </button>
        </div>
        <!--// end testing //-->
        <div id="navbar" class="collapse navbar-collapse">
            <div class="nav navbar-nav notify-row" ng-controller="TopMenuCtrl as topMenuCtrl">
                <button ng-click="topMenuCtrl.newTaskFrmReq()" class="btn btn-success btn-sm">Add New Tasks</button>
                <button ng-click="topMenuCtrl.newCategoryFrmReq()" class="btn btn-default btn-sm">Add New Category</button>
            </div>
            <div class="nav navbar-nav notify-row navbar-right">
                <input type="text" ng-model="searchkey" class="input-sm " maxlength="30" placeholder="Search"> &nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
      SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse " ng-controller="CategoryCtrl as categoryCtrl">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="sub-menu">
                    <span style="color:white"><img src="iamrobot.png" class="img" width="80" >Iam'Robot</span>
                </p>
                <hr style="width:80%">
                <!--Christian's change 170215-->
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>Main Tasks</span>
                    </a>
                    <ul class="sub">
                        <li ng-repeat="i in categoryCtrl.allTasks" ng-click="categoryCtrl.selectTaskCategory(i)"><a href="#" style="background: #424a5d">{{ i.catName }}</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>My Categories</span>
                    </a>
                    <ul class="sub">
                        <li ng-click="categoryCtrl.selectCategory('')"><a href="#" style="background: #424a5d">All Categories</a></li>
                        <li ng-repeat="category in categoryCtrl.categorizedTasks" ng-click="categoryCtrl.selectCategory(category.cat_name)"><a href="#" style="background: #424a5d">{{category.cat_name}}</a></li>
                    </ul>
                </li>
                <!--End Christian's change 170215-->
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div ng-controller="SelectionCtrl as selectionCtrl">
                    <h3><i class="fa fa-angle-right"></i> To-Do Lists {{selectionCtrl.selectedTaskStatus}} {{selectionCtrl.selectedCategory}}</h3>
                </div>
                <!-- TO DO LIST - TODAY -->
                <div class="row mt">
                    <div class="col-md-6">

                        <!--New Category Form-->
                        <div class="container" ng-controller="NewCategoryCtrl as newCategoryCtrl">
                            <div ng-show="newCategoryCtrl.showForm">
                                <h3>Add a new Category</h3>
                                <form name="orderForm" class="col-xs-10 col-sm-10 col-md-4 col-lg-4" ng-submit="newCategoryCtrl.submitNewCategory()" novalidate>
                                    <div class="form-group">
                                        <label for="newCategory">New Category:</label>
                                        <input id="newCategory" class="form-control" type="text" name="newCategory" required ng-model="newCategoryCtrl.newCategory">
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-plus"></i>
                                            Submit New Category
                                        </button>
                                        <button type="button" ng-click="newCategoryCtrl.closeForm()" class="btn btn-warning">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--End New Category Form-->
                        <!--EDIT Task Form-->
                        <div class="container" ng-controller="EditTaskCtrl as editTaskCtrl">
                            <div ng-show="editTaskCtrl.showForm">
                                <h3>Edit Task</h3>
                                <form name="editTaskForm" class="col-xs-10 col-sm-10 col-md-4 col-lg-4" ng-submit="editTaskCtrl.submitEditTask()" novalidate>
                                    <div>
                                        Due Date:
                                        <md-datepicker ng-model="editTaskCtrl.duedate" md-placeholder="Enter date"></md-datepicker>
                                    </div>
                                    <div class="form-group">
                                        <label for="newTitle">Select Category:</label>
                                        <select ng-model="editTaskCtrl.category" class="form-control" name="taskCategory" id="editTaskCategory" required>
                                            <option ng-repeat="categoryDetail in editTaskCtrl.categorizedTasks" value="{{categoryDetail.cat_id}}">{{categoryDetail.cat_name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="newTitle">Title:</label>
                                        <input ng-model="editTaskCtrl.task_title" class="form-control" id="editNewTitle" type="text" name="newTitle" placeholder="Enter task title"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newTitle">Task Description:</label>
                                        <textarea ng-model="editTaskCtrl.task_desc" class="form-control" name="newDescription" id="editNewDescription" placeholder="Enter task description"
                                            required></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <br />
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa fa-plus"></i>
                                            Update Task
                                        </button>
                                        <button type="button" ng-click="editTaskCtrl.closeForm()" class="btn btn-warning">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--End EDIT Task Form-->
                        <!--New Task Form-->
                        <div class="container" ng-controller="NewTaskCtrl as newTaskCtrl">
                            <div ng-show="newTaskCtrl.showForm">
                                <h3>Add a new Task</h3>
                                <form name="newTaskForm" class="col-xs-10 col-sm-10 col-md-4 col-lg-4" ng-submit="newTaskCtrl.submitNewTask()" novalidate>
                                    <div>
                                        Due Date:
                                        <md-datepicker ng-model="newTaskCtrl.dueDate" md-placeholder="Enter date"></md-datepicker>
                                    </div>

                                    <div class="form-group">
                                        <label for="newTitle">Select Category:</label>
                                        <select ng-model="newTaskCtrl.category" class="form-control" name="taskCategory" id="taskCategory" required>
                                            <option ng-repeat="categoryDetail in newTaskCtrl.categorizedTasks" value="{{categoryDetail.cat_id}}">{{categoryDetail.cat_name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="newTitle">Title:</label>
                                        <input ng-model="newTaskCtrl.task_title" class="form-control" id="newTitle" type="text" name="newTitle" placeholder="Enter task title"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newTitle">Task Description:</label>
                                        <textarea ng-model="newTaskCtrl.task_desc" class="form-control" name="newDescription" id="newDescription" placeholder="Enter task description"
                                            required></textarea>
                                    </div>

                                    <div class="form-group text-right">
                                        <br />
                                        <button type="submit" class="btn btn-success">
						                    <i class="fa fa-plus"></i>
						                    Submit New Task
					                    </button>
                                        <button type="button" ng-click="newTaskCtrl.closeForm()" class="btn btn-warning">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--End New Task Form-->

                        <section class="task-panel tasks-widget">
                            <!--// Tan Chee Seong Edit //-->
                            <div ng-controller="TodayTaskCtrl as todayTaskCtrl">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h5><i class="fa fa-tasks"></i> Todo List - TODAY: {{todayTaskCtrl.today | date:'dd-MMM-yyyy'}}</h5>
                                    </div>
                                    <br>
                                </div>
                                <div class="panel-body">
                                    <div class="task-content">
                                        <ul class="task-list">
                                            <li ng-repeat="(index, task) in todayTaskCtrl.taskList | filter: {task_status: todayTaskCtrl.selectedTaskCategory} | 
                                                            filter: {category: {cat_name: todayTaskCtrl.selectedCategory}} | filter: searchkey">
                                                <!--<li ng-repeat="(index, task) in todayTaskCtrl.taskList | filter: todayTaskCtrl.selectedCategory | filter: searchkey">-->
                                                <div class="task-title">
                                                    <span class="task-title-sp"><i class="fa fa-chevron-left"></i>{{task.category.cat_name}}<i class="fa fa-chevron-right"></i> {{task.task_title}}</span>
                                                    <span class="badge bg-theme" ng-click="todayTaskCtrl.handleReadMoreLess(task.task_id)">{{task.read}}</span>
                                                    <div ng-show="task.readMore">{{task.task_desc}}</div>
                                                    <div class="pull-right hidden-phone">
                                                        <button disabled="disabled" ng-show="task.task_status == 1" class="btn btn-warning btn-xs"><i class=" fa fa-circle-o-notch"></i></button>
                                                        <button ng-click="todayTaskCtrl.showConfirmComplete(task.task_id, true)" ng-show="task.task_status == 0" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                        <button ng-click="todayTaskCtrl.handleEditTask(task.task_id)" class="btn btn-primary btn-xs" ng-disabled="task.task_status != 0"><i class="fa fa-pencil"></i></button>
                                                        <button ng-click="todayTaskCtrl.handleRemoveTask(task.task_id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                    </div>
                                                </div>
                                                <!--confirmation form - Chris-->
                                                <div ng-show="task.confirmComplete">
                                                    <br>
                                                    <span>Mark this as complete?</span>
                                                    <button ng-click="todayTaskCtrl.handleCompleteTask(task.task_id)" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"> Yes</i></button>
                                                    <button ng-click="todayTaskCtrl.showConfirmComplete(task.task_id, false)" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-o-down"> No</i>  </button>
                                                </div>
                                                <!--End confirmation form-->
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--// End Tan Chee Seong Edit //-->
                            <!-- TO DO LIST - TOMMOROW -->
                            <div ng-controller="TomorrowTaskCtrl as tomorrowTaskCtrl">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h5><i class="fa fa-tasks"></i> Todo List - TOMORROW: {{tomorrowTaskCtrl.tomorrow | date:'dd-MMM-yyyy'}}
                                            {{todayTaskCtrl.today | date:'dd-MMM-yyyy'}}</h5>
                                    </div>
                                    <br>
                                </div>
                                <div class="panel-body">
                                    <div class="task-content">
                                        <ul class="task-list">
                                            <li ng-repeat="(index, task) in tomorrowTaskCtrl.taskList |filter: {task_status: tomorrowTaskCtrl.selectedTaskCategory}
                                                        | filter: {category: {cat_name: tomorrowTaskCtrl.selectedCategory}} | filter: searchkey">
                                                <div class="task-title">
                                                    <span class="task-title-sp"><i class="fa fa-chevron-left"></i>{{task.category.cat_name}}<i class="fa fa-chevron-right"></i> {{task.task_title}}</span>
                                                    <span class="badge bg-theme" ng-click="tomorrowTaskCtrl.handleReadMoreLess(task.task_id)">{{task.read}}</span>
                                                    <div ng-show="task.readMore">{{task.task_desc}}</div>
                                                    <div class="pull-right hidden-phone">
                                                        <button disabled="disabled" ng-show="task.task_status == 1" class="btn btn-warning btn-xs"><i class=" fa fa-circle-o-notch"></i></button>
                                                        <button ng-click="tomorrowTaskCtrl.showConfirmComplete(task.task_id, true)" ng-show="task.task_status == 0" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                        <button ng-click="tomorrowTaskCtrl.handleEditTask(task.task_id)" class="btn btn-primary btn-xs" ng-disabled="task.task_status != 0"><i class="fa fa-pencil"></i></button>
                                                        <button ng-click="tomorrowTaskCtrl.handleRemoveTask(task.task_id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                    </div>
                                                </div>
                                                <!--confirmation form - Chris-->
                                                <div ng-show="task.confirmComplete">
                                                    <br>
                                                    <span>Mark this as complete?</span>
                                                    <button ng-click="tomorrowTaskCtrl.handleCompleteTask(task.task_id)" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"> Yes</i></button>
                                                    <button ng-click="tomorrowTaskCtrl.showConfirmComplete(task.task_id, false)" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-o-down"> No</i>  </button>
                                                </div>
                                                <!--End confirmation form-->
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /col-md-6-->
                    <!-- TO DO LIST - ALL -->
                    <div class="col-md-6">
                        <section class="task-panel tasks-widget">
                            <div ng-controller="AllTaskCtrl as allTaskCtrl">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h5><i class="fa fa-tasks"></i> Todo List - ALL</h5>
                                    </div>
                                    <br>
                                </div>
                                <div class="panel-body">
                                    <div class="task-content">
                                        <ul class="task-list">
                                            <li ng-repeat="(index, task) in allTaskCtrl.taskList | orderBy : 'duedate' |filter: {task_status: allTaskCtrl.selectedTaskCategory}
                                                        | filter: {category: {cat_name: allTaskCtrl.selectedCategory}} | filter: searchkey">
                                                <div class="task-title">
                                                    <span>Due: {{task.duedate | date:'dd-MMM-yyyy'}}</span><br />
                                                    <span class="task-title-sp"><i class="fa fa-chevron-left"></i>{{task.category.cat_name}}<i class="fa fa-chevron-right"></i> {{task.task_title}}</span>
                                                    <span class="badge bg-theme" ng-click="allTaskCtrl.handleReadMoreLess(task.task_id)">{{task.read}}</span>
                                                    <div ng-show="task.readMore">{{task.task_desc}}</div>
                                                    <div class="pull-right hidden-phone">
                                                        <button ng-show="allTaskCtrl.taskOverDue(task.task_status, task.duedate)" class="btn btn-danger btn-xs"><i class=" fa fa-circle-o-notch"></i></button>
                                                        <button disabled="disabled" ng-show="task.task_status == 1" class="btn btn-warning btn-xs"><i class=" fa fa-circle-o-notch"></i></button>
                                                        <button ng-click="allTaskCtrl.showConfirmComplete(task.task_id, true)" ng-show="task.task_status == 0" class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                        <button ng-click="allTaskCtrl.handleEditTask(task.task_id)" class="btn btn-primary btn-xs" ng-disabled="task.task_status != 0"><i class="fa fa-pencil"></i></button>
                                                        <button ng-click="allTaskCtrl.handleRemoveTask(task.task_id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                    </div>
                                                </div>
                                                <!--confirmation form - Chris-->
                                                <div ng-show="task.confirmComplete">
                                                    <br>
                                                    <span>Mark this as complete?</span>
                                                    <button ng-click="allTaskCtrl.handleCompleteTask(task.task_id)" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"> Yes</i></button>
                                                    <button ng-click="allTaskCtrl.showConfirmComplete(task.task_id, false)" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-o-down"> No</i>  </button>
                                                </div>
                                                <!--End confirmation form-->
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /col-md-6-->
                </div>
                <!-- /row -->
            </section>
            <!--/wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->

        <!--footer start-->
        <!--//
        <footer class="site-footer">
            <div class="text-center">
                2017 - irobot To-Do List. NUS-ISS
            </div>
        </footer>
        //-->
        <!--footer end-->
    </section>
    <!--main section end-->
    <script src="/assets/js/common-scripts.js"></script>

</body>

</html>